<!-- Images from Unsplash  -->
<div class="posts">

  <div class="post">
    <div class="picture" style="background-image: url(https://images.unsplash.com/photo-1552933079-022b3a7943a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=613&q=80);"></div>
    <div class="title">A beautiful night view of the city</div>
    <div class="date">Feb 12, 2019</div>
  </div>
  <div class="post">
    <div class="picture" style="background-image: url(https://images.unsplash.com/photo-1553016895-42a88aaca678?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);"></div>
    <div class="title">The beauty in our world</div>
    <div class="date">Feb 12, 2019</div>
  </div>
  <div class="post">
    <div class="picture" style="background-image: url(https://images.unsplash.com/photo-1552855320-64fe5ae94d35?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);"></div>
    <div class="title">Are you a coffee person?</div>
    <div class="date">Feb 12, 2019</div>
  </div>
  <div class="post">
    <div class="picture" style="background-image: url(https://images.unsplash.com/photo-1553061607-537388067042?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);"></div>
    <div class="title">San Francisco's Golden Gate</div>
    <div class="date">Feb 12, 2019</div>
  </div>

</div>